.fondo{
    background: url(/imagenes/FondoHome.jpg);
    background-size: cover;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}

.pad{
    padding-bottom:80px ;
}

.h1{
    font-size:30px;
}


.msg{
    border-radius: 20px;
    width: 65%;
    margin: 0 auto;
    color: darkblue;
    background: rgba(255, 255, 255, 0.895);
}

.contenedor{
    padding: 20px;
}