.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 800px;
    background-color: #02098c;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 80%;
    height: 100px;
    background-color: white;
}

.containerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Alinea los elementos desde la parte superior */
    border-radius: 10px;
    width: 80%;
    min-height: 450px; /* Cambia la altura mínima */
    background-color: white;
}

.appointment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #eee; /* Agrega un borde a cada item */
    padding: 15px; /* Aumenta el relleno */
    margin-bottom: 15px; /* Añade margen inferior entre las citas */
    border-radius: 5px; /* Añade un radio de borde */
}

.date {
    font-size: 20px; /* Aumenta el tamaño de fuente de la fecha */
    margin-right: 20px;
    padding: 15px;
}

.doctor {
    font-size: 18px; /* Aumenta el tamaño de fuente del doctor */
    color: #555;
    margin-left: 20px;
    padding: 15px;
}

.cancel-button {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;

}

.cancel-button:hover {
    background-color: #d32f2f;
}

.newScheduleButton {
    background-color: #3386e5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;

}

.newScheduleButton:hover {
    background-color: #f2f7f6;
}
