
.doctorcards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center;
  }

  .doctorcard {
    width: 250px;
    background-color: #919191;
    border: 1px solid #060000;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .doctorcard img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .doctorcard h3 {
    font-size: 20px;
    margin: 0;
  }
  
  .doctorcard p {
    font-size: 16px;
    color: #000000;
  }
  